<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRAVEL WEBSITE | CONTACT US</title>
    <script
      src="https://kit.fontawesome.com/94e8444589.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav class="navbar bg-dark">
      <div class="container">
        <div class="logo">
          <img src="" alt="WT" />
        </div>
        <ul class="nav-items">
          <li class="nav-item"><a href="../templates/index.html">HOME</a></li>
          <li class="nav-item">
            <a href="../templates/about.html">ABOUT</a>
          </li>
          <li class="nav-item">
            <a href="../templates/contact.html">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="contact-form">
      <div class="container">
        <div class="form-wrapper">
          <div class="company-address">
            <div class="address-group">
              <h2 class="text-grey md-heading">
                <i class="fas fa-map-marker-alt text-red"></i>Location
              </h2>
              <p>Sector 4, Shimla, Himachal Pradesh</p>
            </div>
            <div class="address-group">
              <h2 class="text-grey md-heading">
                <i class="fas fa-envelope text-red"></i>E-mail
              </h2>
              <p>themohakjindal@gmail.com</p>
            </div>
            <div class="address-group">
              <h2 class="text-grey md-heading">
                <i class="fas fa-phone-square-alt text-red"></i>Call
              </h2>
              <p>+91 xxx xxx xxxx</p>
            </div>
            <img src="../images/quote.jpg" alt="Company Image" />
          </div>
          <form action="" class="form">
            <h1 class="lg-heading text-black">CONTACT US</h1>
            <p class="text-grey">
              Let us know your questions, suggestion and concerns by filling the
              contact form below.
            </p>
            <div class="form-group">
              <label for="username" >Username</label>
              <input type="text" name="" id="username" required/>
            </div>
            <div class="form-group">
              <label for="Pho ne" >Pho ne</label>
              <input type="text" name="" id="Pho ne" required/>
            </div>
            <div class="form-group">
              <label for="E-mail" ></label>E-mail</label>
              <input type="text" name="" id="E-mail" required/>
            </div>
            <div class="form-group">
              <label for="message" >Message</label>
              <textarea name="" id="message required" cols="30" rows="1"></textarea>
            </div>
            <button type="submit" class="form-btn">Submit</button>
          </form>
        </div>
      </div>
    </section>
    <script
      src="https://kit.fontawesome.com/94e8444589.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
